
<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Welcome to my calculator</h1>
    <p>Please note that this calculator's input only supports positive numbers, one operation, (+ addition, -
        subtraction, * multiplication, or / division) and no brackets or decimal numbers :(</p>
    <input type="text" id="problem" placeholder="0">
    <button onclick="solve()">Result</button>
    <br>
    <div id="result"></div>
</body>

<script>
    function solve() {
        let problem = document.getElementById('problem').value;
        problem = problem.replace(/\s/g, '');
        let operation = problem.replace(/[0-9]/g, '');
        if (operation != '/' && operation != '*' && operation != '-' && operation != '+') {
            return;
        }

        let indexOfOperation = (problem.indexOf(operation));
        let num1 = problem.substr(0, indexOfOperation);
        let num2 = problem.substr(indexOfOperation + 1, problem.length);

        if (!num1.length || !num2.length) {
            return;
        }

        let result;

        switch (operation) {
            case '/':
                result = +num1 / +num2;
                break;
            case '*':
                result = +num1 * +num2;
                break;
            case '-':
                result = +num1 - +num2;
                break;
            case '+':
                result = +num1 + +num2;
                break;
        }
        document.getElementById('result').innerHTML = result;
    }
</script>